

{{!-- Parallax is an effect where the background content moves at a different speed than 
the foreground content while scrolling.  --}}

<div class="parallax-container">
  <div class="section no-pad-bot">
    <div class="row center">
      <div class="col s8 offset-s2 intro-text">
  
      </div>
    </div>
  </div>
  <div class="parallax">
    {{!-- <img src="/assets/images/background.jpg" alt="no sub" style="display: block;"> --}}
  </div>
</div>

<div class="container">
  {{!-- for each article in mongodb --}}
  {{#each articleData}}
  {{!-- create a row, column, and materialize card --}}
  <div class="row">
    <div class="col s12">
      
      {{!-- basic materialize card used --}}
      <div class="card">
        
        {{!--  materialize design base color for background --}}
        <div class="card-content red lighten-2">
          <div class="row valign-wrapper">
            <div class="col s8">
              {{!-- title and summary from db go here --}}
              <span class="card-title">{{this.title}}</span>
              <p>{{this.summary}}</p>
            </div>
            <div class="col s4">
              <img class="responsive-img" src="{{this.image}}" alt="article image">
            </div>
          </div>
        </div>
        
        {{!-- banners for page articles --}}
        <div class="card-action valign-wrapper center-align black">
         
          {{!-- link to article goes here --}}
          {{!-- target specifies where to to open the link --}}

          <div class="col s6 card-links">
            <a href="https://www.nhl.com{{this.link}}" class="white-text" style="margin: 0px;" target="_blank"><button class="btn">Read Article</button></a>
          </div>
          <div class="col s6 card-links save-article-div">
            <button data-dbid="{{this._id}}" class="btn save-article-button">Save Article</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
